.tour-jumbo {
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin-bottom: 0;
  text-align: center;
  background-color: #282828;
  border-radius: 0;
  font-weight: 700;
  height: 315px; }
  @media (min-width: 992px) {
    .tour-jumbo {
      height: 370px; } }
  @media (min-width: 1200px) {
    .tour-jumbo {
      height: 400px; } }

.alltours {
  margin-top: 5%; }

.tourdates {
  font-size: 1em;
  color: #f8d448;
  border: 1px solid #f8d448;
  height: 40px; }
  @media (min-width: 768px) {
    .tourdates {
      font-size: 1em; } }
  .tourdates a {
    color: #f8d448; }

.tourvenue {
  font-size: 0.7em; }
  @media (min-width: 768px) {
    .tourvenue {
      font-size: 1em; } }

#tourtitle {
  font-size: 2.75em;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: #1a1a1a; }
  #tourtitle p {
    height: 100%;
    border-left: 1px solid #f8d448;
    border-right: 1px solid #f8d448;
    border-bottom: 2px solid black;
    color: #f8d448; }

#tourshowmore {
  cursor: pointer;
  height: 50px;
  font-size: 2.75em;
  padding: 0;
  margin: 0;
  background-color: #1a1a1a; }
  #tourshowmore p {
    height: 100%;
    border-left: 1px solid #f8d448;
    border-right: 1px solid #f8d448;
    border-bottom: 2px solid black;
    color: #f8d448; }
    #tourshowmore p:hover {
      color: #1a1a1a;
      background-color: #f8d448;
      transition: ease-in 0.3s; }
