@import '.././variables.scss';


.tour-jumbo {
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 0;
    text-align: center;
    background-color: rgb(40, 40, 40);
    color:white;
    border-radius: 0;
    font-weight: 700;
    height: 315px;
    @include breakpoint(md) {
        height: 370px;
    }
    @include breakpoint (lg){
        height: 400px;
    }
}

#tourtitle {
    font-size: 2.75em;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: $darkGray;
    p {
        height: 100%;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        border-bottom: 2px solid black;
        color: $yellow;
    }   
}
#tourshowmore {
    height: 50px;
    font-size: 2.75em;
    padding: 0;
    margin: 0;
    background-color: $darkGray;
    p {
        height: 100%;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        border-bottom: 2px solid black;
        color: $yellow;
        &:hover {
            color: $darkGray;
            background-color: $yellow;
            transition: ease-in 0.3s;
        }
    }   
}