@import '.././variables.scss';


.tour-jumbo {
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 0;
    text-align: center;
    background-color: rgb(40, 40, 40);
    border-radius: 0;
    font-weight: 700;
    height: 315px;
    @include breakpoint(md) {
        height: 370px;
    }
    @include breakpoint (lg){
        height: 400px;
    }
}
.alltours {
    margin-top: 5%;
}
.tourdates {
    font-size: 1em;
    color:$yellow;
    border: 1px solid $yellow;
    height: 40px;
    @include breakpoint(sm) {
        font-size:1em;
    }
    a {
        color:$yellow;
    }
}
.tourvenue {
    font-size: 0.7em;
    @include breakpoint(sm) {
        font-size: 1em;
    }
}


#tourtitle {
    font-size: 2.75em;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: $darkGray;
    p {
        height: 100%;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        border-bottom: 2px solid black;
        color: $yellow;
    }   
}
#tourshowmore {
    cursor: pointer;
    height: 50px;
    font-size: 2.75em;
    padding: 0;
    margin: 0;
    background-color: $darkGray;
    p {
        height: 100%;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        border-bottom: 2px solid black;
        color: $yellow;
        &:hover {
            color: $darkGray;
            background-color: $yellow;
            transition: ease-in 0.3s;
        }
    }   
}