.videos .col-md-6 {
  padding: 0; }

.videos .container-fluid {
  background-color: rgba(26, 26, 26, 0.5);
  height: 600px; }

.videos .videotitle {
  border-left: 1px solid #ed8270;
  border-right: 1px solid #ed8270;
  height: 50px;
  background-color: #1a1a1a; }
  .videos .videotitle p {
    font-size: 2.75em;
    color: #ed8270;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .videos .videotitle p:hover {
      color: #1a1a1a;
      background-color: #1ed760;
      transition: ease-in 0.3s; }
