@import '.././variables.scss';
.videos {
    .col-md-6 {
        padding: 0;
    }
    .container-fluid {
        background-color: rgba(26, 26, 26, 0.5);
        height: 600px;
    }
    .videotitle {
        border-left: 1px solid $red;
        border-right: 1px solid $red;
        height: 50px;
        background-color: $darkGray;
        p {
            font-size: 2.75em;
            color:$red;
            @include absolutecenter(x);
            &:hover {
                color: $darkGray;
                background-color: $green;
                transition: ease-in 0.3s;
            }
        }
    }
}
