.videos .col-md-6 {
  padding: 0;
  margin-bottom: -5px; }

.videos .videotitle {
  border-left: 1px solid #ed8270;
  border-right: 1px solid #ed8270;
  height: 50px;
  background-color: #1a1a1a; }
  .videos .videotitle p {
    font-size: 2.75em;
    color: #ed8270;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.youtubevideo {
  border-left: 2px solid black;
  border-right: 2px solid black; }

.videomore {
  margin-bottom: 100px;
  width: 100%;
  border-left: 1px solid #ed8270;
  border-right: 1px solid #ed8270;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 50px;
  background-color: #1a1a1a;
  color: #ed8270;
  font-size: 1.6em;
  text-align: center;
  cursor: pointer; }
  @media (min-width: 992px) {
    .videomore {
      font-size: 2.2em; } }
  .videomore i {
    font-size: 0.88em; }
  .videomore:hover {
    background-color: #ed8270;
    transition: ease-in 0.3s;
    color: #1a1a1a; }
