@import '.././variables.scss';


#navtop {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    background-color: $darkGray;
    img {
        @include absolutecenter(x);
        border-left: 2px solid $yellow;
        border-right: 2px solid $yellow;
        cursor: pointer;
    }
    #navlink1 {
        color: $yellow;
        font-size: 1.8em;
        @include breakpoint(xs) {
            text-align: center;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        @include breakpoint(sm) {
            margin-right: 2em;
        }
        @include breakpoint(md) {
            margin-right: 5em;
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
    #navlink2 {
        color: $yellow;
        font-size: 1.8em;
        @include breakpoint(xs) {
            text-align: center;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
    #navlink3 {
        color: $yellow;
        font-size: 1.8em;
        @include breakpoint(xs) {
            text-align: center;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        @include breakpoint(sm) {
            margin-right: 2em;
        }
        @include breakpoint(md) {
            margin-right: 5em;
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
    #navlink4 {
        color: $yellow;
        font-size: 1.8em;
        @include breakpoint(xs) {
            text-align: center;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
}