@import '.././variables.scss';
#navtop {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    background-color: $darkGray;

    img {
        @include absolutecenter(x);
        border-left: 2px solid $yellow;
        border-right: 2px solid $yellow;
    }




    #navlink1 {
        color: $yellow;
        @include breakpoint(xs) {
            font-size: 1.8em;
            text-align: center;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
    #navlink2 {
        color: $yellow;
        @include breakpoint(xs) {
            font-size: 1.8em;
            text-align: center;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
    #navlink3 {
        color: $yellow;
        @include breakpoint(xs) {
            text-align: center;
            font-size: 1.8em;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
    #navlink4 {
        color: $yellow;
        @include breakpoint(xs) {
            font-size: 1.8em;
            text-align: center;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            color: lighten($yellow, 20%);
        }
    }
}