@import '.././variables.scss';
#navtop {
    background-color: $darkGray;
    img {
        @include absolutecenter(x);
        border-left: 2px solid $yellow;
        border-right: 2px solid $yellow;
        cursor: pointer;
    }

    #navlink1 {
        color: $yellow;
        font-size: 1.5em;
        border-bottom: 1px solid $yellow;
        @include breakpoint(xs) {
            text-align: center;
            border-bottom: none;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        @include breakpoint(sm) {
            margin-right: 2em;
        }
        @include breakpoint(md) {
            margin-right: 5em;
        }
    }
    #navlink2 {
        color: $yellow;
        font-size: 1.5em;
        border-bottom: 1px solid $yellow;
        @include breakpoint(xs) {
            text-align: center;
            border-bottom: none;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    #navlink3 {
        color: $yellow;
        font-size: 1.5em;
        border-bottom: 1px solid $yellow;
        @include breakpoint(xs) {
            text-align: center;
            border-bottom: none;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        @include breakpoint(sm) {
            margin-right: 2em;
        }
        @include breakpoint(md) {
            margin-right: 5em;
        }
    }
    #navlink4 {
        color: $yellow;
        font-size: 1.5em;
        border-bottom: 1px solid $yellow;
        @include breakpoint(xs) {
            text-align: center;
            border-bottom: none;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


.showInfo {

}