@import '.././variables.scss';

.Footer {
    color:$lightGray;
    background-color: $darkGray;
    height: 80px;

    i {
        font-size: 1.2em;
    }

    a {
        color:$lightGray;
    }
}

.footergrid {
    height: 80px;
    border: 1px solid white;
}