@import '.././variables.scss';

.Footer {
    color:$darkGray;
    background-color: rgba($darkGray, 0.5);
    border-top: 1px solid black;
    height: 80px;
    text-align: center;

    i {
        font-size: 1.2em;
    }

    a {
        color:$lightGray;
    }
}

.footergrid {
    height: 100%;

    &.disclaimer {
        font-size: 0.7em;
        @include breakpoint(md) {
            font-size: 0.8em;
        }
        @include breakpoint(lg) {
            font-size: 1em;
        }
    }
}