.Footer {
  color: #7e8084;
  background-color: #1a1a1a;
  height: 80px; }
  .Footer i {
    font-size: 1.2em; }
  .Footer a {
    color: #7e8084; }

.footergrid {
  height: 80px;
  border: 1px solid white; }
